body {
  font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
  background-color: #e7cbf5;
  text-align: center;
}
nav{
  display: inline-block;
  padding: 10px;
  border-radius: 25px;
  border: 2px solid black;
  background-color: azure;
}
li.navigation{
  display: inline;
  margin-right: 135px;
  margin-left: 135px;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 10px;
}
.grid-item {
  border-radius: 25px;
  border:2px solid black;
  background-color:#faf0ff;
  padding: 20px;
  font-size: 30px;
  text-align: center;
}
.Rooster {
  border-radius: 5px;
  border: 2px solid black;
  background-color:pink;
  text-align: center;
}

.Rooster th {
  background-color:hotpink;
  border: 2px solid black;
}

.Rooster tr {
  border: 2px solid black;
}
.navigation {
  color: lightgray;
}
.Rooster td {
  background-color:rgb(255, 230, 230);
  border: 1px solid black;
}
